.ojsInput__label {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.ojsInput__label * {
    margin-bottom: 5px;
}
.ojsInput__label p {
    color: #4d4d4d;
    font-size: 1.4rem;
    font-weight: 700;
}
.ojsInput__label p a {
    color: #39f;
}
.ojsInput__label p a:hover {
    color: #aad6ff;
}
.ojsInput__label span {
    color: #36a0c2;
    font-size: 1rem;
    white-space: nowrap;
    margin-left: 1rem;
}
.ojsInput__field {
    border: 1px solid #333;
    box-sizing: border-box;
    font-size: 1.2rem;
    padding: 0 10px;
    width: 100%;
    flex-basis: 100%;
    height: 2.5rem;
}
.ojsInput__field[type=file] {
    padding: 0.3rem;
}
.ojsInput--invalid {
    border: 1px solid #f00;
    box-shadow: 0 0 5px #f00;
}

.hidden {
    display: none;
}

